<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="_fragments :: head(~{::title})">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>博客</title>
</head>

<body class="animsition">
	<!-- Header -->
	<header th:replace="_fragments :: menu(1)">
	</header>
	<!-- Breadcrumb -->
	<div class="container">
		<div class="bg0 flex-wr-sb-c p-rl-20 p-tb-8">
			<div class="f2-s-1 p-r-30 m-tb-6">
				<a href="index.html" class="breadcrumb-item f1-s-3 cl9">
					Trang chủ
				</a>

				<span class="breadcrumb-item f1-s-3 cl9">
					Blog
				</span>
			</div>

			<form class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6" th:replace="_fragments :: search">
			</form>
		</div>
	</div>
	<!-- Page heading -->
	<div class="container p-t-4 p-b-40">
		<h2 class="f1-l-1 cl2">
			Blog List
		</h2>
	</div>
	<!-- Post -->
	<section class="bg0 p-b-55">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8 p-b-80">
					<div class="p-r-10 p-r-0-sr991">
						<div class="m-t--40 p-b-40">
							<!-- Item post -->
							<div class="flex-wr-sb-s p-t-40 p-b-15 how-bor2" th:each="blog : ${page.content}">
								<a href="#" th:href="@{/blog/{id}(id=${blog.id})}"
									class="size-w-8 wrap-pic-w hov1 trans-03 w-full-sr575 m-b-25">
									<img th:src="@{/images/post-43.jpg}" alt="IMG">
								</a>

								<div class="size-w-9 w-full-sr575 m-b-25">
									<h5 class="p-b-12">
										<a href="#" th:href="@{/blog/{id}(id=${blog.id})}"
											class="f1-l-1 cl2 hov-cl10 trans-03 respon2" th:text="${blog.title}">

										</a>
									</h5>

									<div class="cl8 p-b-18">
										<a th:text="${blog.user.nickname}" class="f1-s-4 cl8 hov-cl10 trans-03">

										</a>

										<span class="f1-s-3 m-rl-3">
											-
										</span>

										<span class="f1-s-3" th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">
										</span>
									</div>

									<p class="f1-s-1 cl6 p-b-24" th:text="|${blog.description}......|">
										Duis eu felis id tortor congue consequat. Sed vitae vestibulum enim, et pharetra
										magna
									</p>

									<a href="#" th:href="@{/blog/{id}(id=${blog.id})}"
										class="f1-s-1 cl9 hov-cl10 trans-03">
										Chi tiết
										<i class="m-l-2 fa fa-long-arrow-alt-right"></i>
									</a>
								</div>
							</div>
						</div>

						<!-- Pagination -->
						<div class="flex-wr-c-c m-rl--7 p-t-15" th:if="${page.totalPages}>1">
							<a href="#" th:href="@{/blogs/(page=${page.number}-1)}" th:unless="${page.first}"
								class="flex-c-c pagi-item hov-btn1 trans-03 m-all-7 pagi-active">Trước</a>
							<a href="#" th:href="@{/blogs/(page=${page.number}+1)}" th:unless="${page.last}"
								class="flex-c-c pagi-item hov-btn1 trans-03 m-all-7">Sau</a>
						</div>
					</div>
				</div>

				<div class="col-md-10 col-lg-4 p-b-80">
					<div class="p-l-10 p-rl-0-sr991">
						<!-- Subscribe -->
						<div class="bg10 p-rl-35 p-t-28 p-b-35 m-b-50" th:replace="_fragments :: subscribe">
						</div>

						<!-- Most Popular -->
						<div class="p-b-23">
							<div class="how2 how2-cl4 flex-s-c">
								<h3 class="f1-m-2 cl3 tab01-title">
									Most Popular
								</h3>
							</div>

							<ul class="p-t-35">
								<li class="flex-wr-sb-s p-b-22">
									<div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0 m-b-6">
										1
									</div>

									<a href="#" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
										Lorem ipsum dolor sit amet, consectetur adipiscing elit
									</a>
								</li>

								<li class="flex-wr-sb-s p-b-22">
									<div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0 m-b-6">
										2
									</div>

									<a href="#" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
										Proin velit consectetur non neque
									</a>
								</li>

								<li class="flex-wr-sb-s p-b-22">
									<div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0 m-b-6">
										3
									</div>

									<a href="#" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
										Nunc vestibulum, enim vitae condimentum volutpat lobortis ante
									</a>
								</li>

								<li class="flex-wr-sb-s p-b-22">
									<div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0 m-b-6">
										4
									</div>

									<a href="#" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
										Proin velit justo consectetur non neque elementum
									</a>
								</li>

								<li class="flex-wr-sb-s p-b-22">
									<div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0">
										5
									</div>

									<a href="#" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
										Proin velit consectetur non neque
									</a>
								</li>
							</ul>
						</div>

						<!--  -->
						<div class="flex-c-s p-b-50">
							<a href="#">
								<img class="max-w-full" src="images/banner-02.jpg" alt="IMG">
							</a>
						</div>

						<!-- Tag -->
						<div>
							<div class="how2 how2-cl4 flex-s-c m-b-30">
								<h3 class="f1-m-2 cl3 tab01-title">
									Tags
								</h3>
							</div>

							<div class="flex-wr-s-s m-rl--5">
								<a href="#" th:href="@{/tags/{id}(id=${tag.id})}" th:each="tag : ${tags}"
									target="_blank"
									class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
									<span th:text="${tag.name}"></span>-<div class="detail"
										th:text="${#arrays.length(tag.blogs)}"></div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div th:replace="_fragments :: totop" class="btn-back-to-top" id="myBtn">
	</div>
	<!--footer-->
	<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
	</footer>
	<th:block th:replace="_fragments :: script">
	</th:block>
	<script>
		$('.menu.toggle').click(function () {
			$('.m-item').toggleClass('m-mobile-hide');
		});
	</script>
</body>

</html>